/*
/*  A U T H O R   S I N G L E
/*
______________________________________________________________*/


/* Layout */
@media only screen and (min-width: 1200px) {
  .author .sticky-wrapper {
    position: fixed;
  }
}  
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .author .sticky-wrapper {
    float: left;
    width: 14.739rem;
    margin-top: 3.3977rem;
  }
}
@media only screen and (max-width: 768px) {
  .author .sticky-wrapper {
    position: static;
    width: 100% !important;
    margin: 0;
  }
}

.author .sk-author-meta {
  float: left;
  width: 14.739rem ;
  margin-top: 3.3977rem;
}
.author .sk-author-main {
  /*float: left;*/
  width: auto;
  margin: 5.542rem 2.66rem 0 20.059rem;
}
@media only screen and (max-width: 959px) {
  .author .sk-author-main {
    margin: 3.2977rem 0 0 17.399rem;
  }
}
@media only screen and (max-width: 768px) {
  .author .sk-author-meta {
    float: none;
    width: 100%;
    margin: 2.66rem auto 0;
  }
  .author .sk-author-main {
    float: none;
    width: 100%;
    margin: 2.66rem auto 0;
  }
}

/* Author Left */

/* image */
.author .sk-author-image {
  width: 7.0779rem;
  margin: 0 auto 0.783rem;
}

.author .sk-author-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* h1 / name */
.author .sk-author-meta h1 {
  text-align: center;
  font-size: 2.0831rem;
  line-height: 1;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

/* links */
.author .sk-author-meta .author-link-small {
  display: block;
  font-family: 'Milo Slab';
  font-size: 1rem;
  margin-bottom: 0.48em;
  text-align: center;
  color: #383f42;
  border: none;
}

.author .sk-author-meta .author-link-small:before {
  display: inline-block;
  content: '';
  width: 0.783em;
  height: 0.783em;
  background: url(elements/sk-arrow.svg) center center no-repeat;
  margin-right: 0.2304em;
}

.author .sk-author-meta .author-link-small:hover,
.sk-author-meta .author-link-small:focus {
  border: none;
  color: #050d1a;
}

.author .sk-author-copyright-info {
  display: block;
  font-family: 'Milo Slab';
  font-size: 0.783rem;
  text-align: center;
  margin-top: 2.0831em;
  color: #83898a;
}

/* Author Description */
.author .sk-author-main__desc {
  margin-bottom: 4.3394rem;
}


/* Teaser-List */

/* h2 */
.author .sk-author-main__title {
  padding: 0.783rem 0;
  font-size: 1rem;
  color: #383f42;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #fcc201;
}

/* layout */
.author .sk-teaser {
  -webkit-box-flex: 1;-webkit-flex: 1 1 33%;-moz-box-flex: 1;-ms-flex: 1 1 33%;flex: 1 1 33%;
  min-width: 220px;
}

/* styling */
.author .sk-teaser .grve-media{
  margin-bottom: 0.78em;
}

.author .sk-teaser a,
.author .sk-teaser a h2 {
  font-size: 1rem;
}

.author .sk-teaser p {
  font-size: 0.78rem;
  letter-spacing: 0.03em;
  line-height: 1.631;
}

.author .sk-teaser .grve-post-author {
  display: none !important;
}