/*
/*  A U T H O R S
/*
______________________________________________________________*/


/*  Author Index Navigation */

/* container / sticky */
.sk-index-container {
  width: 100%;
}

.sk-indexnav {
  padding: 1.631rem 0;
  background: #eff0ed;
  width: 100%;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
}
@media only screen and (max-width: 959px) {
  .sk-indexnav .grve-container {
    width: 92% !important;
    max-width: 92% !important;
    overflow: scroll;
  }
}
.sk-indexnav.stuck {
  position: fixed;
  z-index: 900;
  padding: 0.6131rem 0;
}
@media only screen and (max-width: 1199px) {
  .sk-indexnav.stuck {
    top: 0;
  }
}

/* list styling */
.sk-indexnav ul {
  display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sk-indexnav__item {
  display: block;
  margin: auto;
  padding: 0;
  -webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-ms-flex: 1;flex: 1;
}
@media only screen and (max-width: 768px) {
  .sk-indexnav__item {
    min-width: 45px;
    min-height: 45px;
  }
}

.sk-indexnav__item:first-child {
  margin-left: -1.2%;
}
.sk-indexnav__item:last-child {
  margin-right: -1.2%;
}
@media only screen and (max-width: 767px) {
  .sk-indexnav__item:first-child {
    margin-left: -2.1%;
  }
}

/* typo, hover */
.sk-indexnav__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: 30px;
  padding: 5px 0;
  font-family: 'Milo Slab';
  font-size: 1.2771rem;
  border: none;
  border-radius: 2px;
}
@media only screen and (max-width: 959px) {
  .sk-indexnav__item a {
    font-size: 1rem;
  }
}


.no-touch .sk-indexnav__item a:hover,
.no-touch .sk-indexnav__item a:focus,
.sk-indexnav__item--active a {
  border: none;
  background: #fcc201;
}



/* Liste */

/* container */
.sk-authorindex__section {
  display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;
  margin: 2.66rem auto;
}

/* headings (alphabet) */
.sk-authorindex_heading {
  width: 1.613em;
  margin: 0 0.783em 0 -3px;
  font-size: 2.66rem;
  color: #383f42;
  border-right: 2px solid #fcc201;
}

/* sprungmarke nach oben verschieben */
a.sk-authorindex_anchor {
  position: relative;
  top: -220px;
}
@media only screen and (max-width: 1199px) {
  a.sk-authorindex_anchor {
    top: -100px;
  }
}


/* container autoren pro letter */
.sk-authorindex__section ul {
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -1rem;
  list-style: none;
}

.sk-authorindex__section li {
  width: 16.6666%;
  min-width: 80px;
  padding: 0 1rem 1.631rem;
}
@media only screen and (max-width: 1199px) {
  .sk-authorindex__section li {
    width: 20%;
  }
}
@media only screen and (max-width: 959px) {
  .sk-authorindex__section li {
    width: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .sk-authorindex__section li {
    width: 33%
  }
}
@media only screen and (max-width: 479px) {
  .sk-authorindex__section li {
    width: 50%
  }
}

/* author item - hover */
.no-touch .sk-authorindex__section li {
  opacity: 0.8;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
}
.sk-authorindex__section li:hover,
.sk-authorindex__section li:focus {
  opacity: 1;
  cursor: pointer;
}

/* author item - style*/
.sk-authoritem {
  width: 100%;
  text-align: center;
}

.sk-authoritem__image {
  max-width: 7.0779em;
  width: 100%;
  height: auto;
}
.sk-authoritem__image a,
.sk-authoritem__image a:hover,
.sk-authoritem__image a:focus {
  border: none;
}
.sk-authoritem__image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.sk-authoritem__title {
  max-width: 7.0779em;
  width: 100%;
  margin: 0.783rem 0 0;
}
.sk-authoritem__title a h3 {
  font-size: 1rem !important;
  line-height: 1 !important;
}
.sk-authoritem__title a h3 span {
  font-family: 'Milo Serif';
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
    -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media only screen and (max-width: 479px) {
  .sk-authoritem__title a h3 {
    font-size: 0.783rem !important;
  }
}