/*
/* " C O N S T A N T S "
/*

   j u s t   f o r   r e f e r e n c e ,
   n o   w a y   t o   i m p o r t   t h i s

______________________________________________________________


-----
COLORS
-----
Black					#050d1a
Grey Dark			#383f42
Grey					#83898a
Grey Light		#d7dbd7
Grey Lighter	#eff0ed  // statt #f0f0f0
White					#fff
Yellow				#fcc201
Yellow Light	#ffea9e


-----
SCALING
-----

14.739em  /   1473.9%   /   265px
11.541em  /   1154.1%   /   208px
9.0395em  /   903.95%   /   162px
7.0779em  /   707.79%   /   127px
5.542em   /   554.2%    /   100px
4.3394em  /   433.94%   /   78px
3.3977em  /   339.77%   /   61px
2.66em    /   266%      /   47px
2.0831em  /   208.31%   /   37px
1.631em   /   163.1%    /   29px
1.2771em  /   127.71%   /   23px
1em       /   100%      /   18px
0.783em   /   78.3%     /   14px
0.6131em  /   61.31%    /   11px
0.48em    /   48%       /   9px
0.3759em  /   37.59%    /   7px
0.2943em  /   29.43%    /   5px
0.2304em  /   23.04%    /   4px


-----
BASE FONT-SIZE
-----

Desktop   18px
Mobile    17px


-----
FONT-SIZE / LINE-HEIGHT / SPACE AFTER PARAGRAPH
-----

XXXL  font-size: 2.66rem;
      line-height: 1;
      margin-bottom: 1em; // or 0.6131em;

XXL   font-size: 2.0831rem;
XL    font-size: 1.631rem;
L     font-size: 1.2771rem;
M     font-size: 1rem;
S     font-size: 0.783rem;
XS    font-size: 0.6131rem;

      line-height: 1.631; // or 1.2771;
      margin-bottom: 1em; // or 0.783em;

-----
LETTERSPACING
-----

// Milo Sand Bold

font-family: 'Milo Sans Bold';
letter-spacing: -0.1px;


// Uppercase

text-transform: uppercase;
letter-spacing: 0.1em;


// White on Dark

letter-spacing: 0.01em;


-----
BREAKPOINTS
-----

XS-   @media only screen and (max-width: 479px)
S-    @media only screen and (max-width: 767px)
M-    @media only screen and (max-width: 959px)
L-    @media only screen and (max-width: 1199px)
XL-   @media only screen and (max-width: 1224px)


XS+   @media only screen and (min-width: 480px)
S+    @media only screen and (min-width: 768px)
M+    @media only screen and (min-width: 960px)
L+    @media only screen and (min-width: 1200px)
XL+   @media only screen and (min-width: 1225px)




@media only screen and (min-width: 768px)

-----
DEFAULT TRANSITION
-----

-webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;



______________________________________________________________
END "CONSTANTS" */