/*
/*  D E F A U L T   P A G E   /   4 0 4
/*
______________________________________________________________*/

.page-template-default .grve-main-content,
.error404 .grve-main-content {
  margin: 3.3977rem auto 0;
}


.error404 .grve-main-content {
  max-width: 960px;
}

.error404 h4 {
  font-family: 'Milo Serif';
  font-size: 1rem !important;
}

.error404 .grve-main-content #searchbar {
  position: static;
  width: 100%;
  max-width: 767px;
  margin: 0 auto 3.3977rem;
}

.error404 .teaser-list-title {
  text-align: left;
  padding: 0.783rem 0;
  margin: 4.3394rem auto 0;
  font-size: 1rem;
  color: #383f42;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #fcc201;
}