/*
/*  W E B F O N T S
/*

This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web fonts: http://www.fontshop.com
______________________________________________________________*/


/* Milo Serif */
@font-face{
  font-family: 'Milo Serif';
  font-weight: normal;
  src: url("fonts/1473900/50879e19-ad0a-40f7-826d-474bbf8f5c5d.eot?#iefix");
  src: url("fonts/1473900/50879e19-ad0a-40f7-826d-474bbf8f5c5d.eot?#iefix") format("eot"),
  		 url("fonts/1473900/08b2965c-1b84-4956-a1bd-eeb63c61ea57.woff2") format("woff2"),
  		 url("fonts/1473900/aa9db826-19c1-4303-a846-9673f9786cc5.woff") format("woff"),
  		 url("fonts/1473900/936e8667-485f-4b48-9c70-feb60c889485.ttf") format("truetype");
}
@font-face{
	font-family: 'Milo Serif';
  font-style: italic;
  src: url("fonts/1473904/356d2e68-2153-40ef-9644-d735f25c6139.eot?#iefix");
  src: url("fonts/1473904/356d2e68-2153-40ef-9644-d735f25c6139.eot?#iefix") format("eot"),
  		 url("fonts/1473904/fc949bd0-7b6e-4c40-94ab-c277c907c4b4.woff2") format("woff2"),
  		 url("fonts/1473904/a9293bd7-e417-464c-a210-3f75cc89bd47.woff") format("woff"),
  		 url("fonts/1473904/7824de1c-63f6-4430-b015-393c418fe90c.ttf") format("truetype");
}
@font-face{
	font-family: 'Milo Serif';
  font-weight: bold;
  src: url("fonts/1473880/77ae0e2f-baad-4fa8-8a80-6588cae88926.eot?#iefix");
  src: url("fonts/1473880/77ae0e2f-baad-4fa8-8a80-6588cae88926.eot?#iefix") format("eot"),
  		 url("fonts/1473880/ff65dab7-2621-4385-839c-c715cb639707.woff2") format("woff2"),
  		 url("fonts/1473880/05f47d9c-e7f6-45c0-a399-45ea00cd35ab.woff") format("woff"),
  		 url("fonts/1473880/c44ca760-ea63-422a-82c3-09d2bddfc7da.ttf") format("truetype");
}


/* Milo Sans Bold */
@font-face{
  font-family: 'Milo Sans Bold';
  font-weight: normal;
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix");
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix") format("eot"),
  		 url("fonts/1474001/55b8c05b-ab86-4294-8441-fcd62ae29cd8.woff2") format("woff2"),
  		 url("fonts/1474001/bdfe81ba-2c47-4985-97af-961640590d58.woff") format("woff"),
  		 url("fonts/1474001/11284590-ee0d-43d5-8db0-af48241928f6.ttf") format("truetype");
}
/* gibt nur bold -> um künstliche Änderungen zu vermeiden,
auch normal/italic definiert */
@font-face{
  font-family: 'Milo Sans Bold';
  font-weight: bold;
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix");
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix") format("eot"),
  		 url("fonts/1474001/55b8c05b-ab86-4294-8441-fcd62ae29cd8.woff2") format("woff2"),
  		 url("fonts/1474001/bdfe81ba-2c47-4985-97af-961640590d58.woff") format("woff"),
  		 url("fonts/1474001/11284590-ee0d-43d5-8db0-af48241928f6.ttf") format("truetype");
}
@font-face{
  font-family: 'Milo Sans Bold';
  font-style: italic;
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix");
  src: url("fonts/1474001/57f57b7e-aff9-4bb7-806f-6f22798db4e4.eot?#iefix") format("eot"),
  		 url("fonts/1474001/55b8c05b-ab86-4294-8441-fcd62ae29cd8.woff2") format("woff2"),
  		 url("fonts/1474001/bdfe81ba-2c47-4985-97af-961640590d58.woff") format("woff"),
  		 url("fonts/1474001/11284590-ee0d-43d5-8db0-af48241928f6.ttf") format("truetype");
}


/* Milo Slab */
/* gibt nur Regular, nehmen künstliche Bold und Italics in Kauf,
daher keine -weight, -style definiert */
@font-face{
  font-family: 'Milo Slab';
  src: url("fonts/5445878/b40ab734-e15e-49f3-8e42-7d5d752d5127.eot?#iefix");
  src: url("fonts/5445878/b40ab734-e15e-49f3-8e42-7d5d752d5127.eot?#iefix") format("eot"),
  		 url("fonts/5445878/fe5b3e02-c555-42aa-9e77-d05d465c2a2b.woff2") format("woff2"),
  		 url("fonts/5445878/9cab8c50-8276-4ed8-b6eb-a463ba88b64d.woff") format("woff"),
  		 url("fonts/5445878/ecb25231-bc2d-48b1-b438-4844614c01e6.ttf") format("truetype");
}