/*
/*  F O O T E R
/*
______________________________________________________________*/


/* Container */
#grve-footer.grve-section {
  padding: 0.783rem 0;
  border: none;
  background: #eff0ed; 
}

/* jt 180125 */
@media only screen and (max-height: 840px) {
  #grve-footer.grve-section {
    padding: 0.183rem 0;
  }
} 

/* keep under searchbar on very small screens */
/* like phone with open keyboard */
@media only screen and (max-width: 479px) {
  #grve-footer.grve-section {
    /*z-index: -1;*/
  }
}

/* reset margins */
#grve-footer .grve-container,
#grve-footer .grve-row,
#grve-footer .grve-column-1-2,
#grve-footer .grve-widget,
#grve-footer .grve-container a {
  margin: 0 auto;
  padding: 0;
}

#grve-footer .grve-column-1-2 {
  width: auto;
  min-width: 0;
}

#grve-footer .grve-column-1-2:last-child {
  float: right;
}

/* Menu */

#grve-footer #nav_menu-3 ul li {
  display: inline-block;
  margin: 0 1.2771em 0 0;
}

/* fit for small screens */
@media only screen and (max-width: 479px) {
  #grve-footer #nav_menu-3 ul li {
    margin-right: 0.6131em;
  }
}

#grve-footer .grve-container a {
  font-family: 'Milo Sans Bold', sans-serif;
  letter-spacing: -0.1px;
  font-size: 0.783rem;
  line-height: 1;
  color: #383f42;
  border-bottom: 1px solid transparent;
}

.no-touch #grve-footer .grve-container a:hover,
.no-touch #grve-footer .grve-container a:focus {
  color: #050d1a;
  border-bottom-color: #fcc201;
}

/* Suhrkamp-Link */
#grve-footer #mla-text-widget-2 {
  text-align: right;
}

/* Top Button */
.grve-top-btn {
  bottom: 75px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  text-align: center;
  line-height: 40px;
}
.grve-top-btn:hover {
  background-color: #666 !important;
}




