/*
/*  H E A D E R
/*
______________________________________________________________*/


/* HEADER CONTAINER */

/*#grve-header-wrapper {
  max-height: 130px !important;
  height: 130px !important;
}*/
#sk-top-menu-container {
  position: relative;
  height: 130px !important;
  max-height: 130px;
  background: #fff;
  border-bottom: 4px solid #83898a;
}

@media only screen and (max-width: 767px) {
  #sk-top-menu-container {
    height: 68px !important;
    max-height: 68px;
  }
}

/* LOGO */

.sk-logo {
  width: 320px;
  height: 74px;
  background: url(elements/logo17full.svg) no-repeat;
  background-size: 320px auto;
  background-position: bottom;
  position: absolute;
  top: 35px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .sk-logo {
    width: 113px;
    background: url(elements/logo17sm2.png) no-repeat;
    background-size: 113px 37px;
    top: 9px;
  }
}


/* MAIN MENU */

#grve-header .grve-horizontal-menu {
  position: absolute;
  top: 81px;
  right: -0.6471rem;
  line-height: 1;
  background: none;
}

#grve-header.grve-mobile-menu .grve-horizontal-menu ul {
  display: block;
}

#grve-header .grve-horizontal-menu li {
  display: inline-block;
  margin: 0;
}

#grve-header .grve-horizontal-menu li a {
  font-family: 'Milo Sans Bold', sans-serif;
  letter-spacing: -0.1px;
  font-size: 23px;
  padding: 0 0.48em 22px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}

.no-touch #grve-header .grve-horizontal-menu li a:hover,
.no-touch #grve-header .grve-horizontal-menu li a:focus,
#grve-header .grve-horizontal-menu li.current-menu-item a,
.search #menu-item-16912 a {
  border-bottom-color: #fcc201;
}

#grve-header .grve-horizontal-menu li#menu-item-16924,
#grve-header .grve-horizontal-menu li#menu-item-16925,
#grve-header .grve-horizontal-menu li#menu-item-18024 {
  display: none;
}

/* SOCIAL */

ul.header-social-media {
  font-size: 18px;
  opacity: 1;
  display: block !important; /* overwrite element style */
  position: absolute;
  right: -0.6470588235rem;
  top: 18px;
  list-style: none;
}

ul.header-social-media li {
  display: inline-block;
  margin: 0 0.6470588235rem;
  border: none;
}
ul.header-social-media li a {
  display: inline-block;
  border: none;
  vertical-align: middle;
  color: #050D1A;
  opacity: 0.6;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}

.no-touch ul.header-social-media li a:hover {
  opacity: 1;
  border: none;
}

/* (icons) */
ul.header-social-media li a:before {
  display: inline;
  font-family: 'FontAwesome';
}

/* icon newsletter */
ul.header-social-media li a.newsletter {
  position: relative;
  top: -3px;
  background: url(elements/nl-icon.svg) no-repeat center 4px;
  background-size: 21px auto;
  width: 21px;
  height: 21px;
}


/* MENU MOBILE */

@media only screen and (max-width: 767px) {

  /* Burger */
  .grve-responsive #grve-header .grve-menu-btn {
    position: absolute;
    display: block;
    right: 10px;
    top: 20px;
    z-index: 1000;
    color: #050D1A;
    font-size: 24px;
    line-height: normal;
    -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
    border: none;
  }

  /* Main */

  #grve-header .grve-horizontal-menu li#menu-item-16924,
  #grve-header .grve-horizontal-menu li#menu-item-16925,
  #grve-header .grve-horizontal-menu li#menu-item-18024 {
    display: block;
  }

  /* menu vertical / full width */
  #grve-header .grve-horizontal-menu {
    position: static;
    width: 108.695652%;
    margin: 56px 0 0 -4.347826%;
  }

  #grve-header.grve-mobile-menu .grve-horizontal-menu ul {
    float: none;
    background: #fff;
    border-bottom: 4px solid #83898a;
  }

  #grve-header.grve-mobile-menu .grve-horizontal-menu > ul > li {
    display: block;
    width: 92%;
    margin: auto;
    text-align: left;
    float: none;
  }

  #grve-header.grve-mobile-menu .grve-horizontal-menu ul > li > a {
    font-size: 23px;
    line-height: 1.2771;
    padding: 13px 0;
    color: #383f42;
    border: none;
    border-top: 2px solid #d7dbd7;
  }

  /* Social */
  ul.header-social-media {
    opacity: 0;
  }
  #grve-header .grve-horizontal-menu ul.header-social-media {
    position: static;
    width: 92% !important;
    margin: 0px auto 0;
    border-bottom: none;
    border-top: 2px solid #d7dbd7;
    text-align: center;
  }

  #grve-header .grve-horizontal-menu ul.header-social-media li a {
    width: 55px;
    /* top: 0; */
    text-align: center;
    border: none;
  }
}

/* hide burger on desktop */
@media only screen and (min-width: 768px) {
  .grve-responsive #grve-header.grve-style-2 .grve-menu-btn {
    background-color: transparent;
    display: none;
  }
}