/*
/*  H O M E
/*
______________________________________________________________*/

/* Teaser-List */

/* layout */
.sk-teaser {
  -webkit-box-flex: 1;-webkit-flex: 1 1 33%;-moz-box-flex: 1;-ms-flex: 1 1 33%;flex: 1 1 33%;
  min-width: 270px;
}



/* styling */

/* bild */
.sk-teaser .grve-media {
  margin: 0 0 1rem;
}
@media only screen and (max-width: 767px) {
  .sk-teaser .grve-media {
    margin: 0 0 0.783rem;
  }
}

/* text */

.sk-teaser p {
  margin: 0.48rem 0 0.6131rem;
  line-height: 1.631em;
}
/* JT 180125 */
.home .sk-teaser p {
  line-height: 1.431em;
}
@media only screen and (max-width: 767px) {
  .sk-teaser p {
    margin: 0.48rem 0 0.783rem;
  }
}


/* Fix Footer */

.home .grve-element {
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .home #grve-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
