/*
/*  N E W S L E T T E R
/*
______________________________________________________________*/

/* theme override */
.newsletter-mc {
  max-width: 100% !important;
  padding: 2.3977rem 1.2771em;
  background: #eff0ed; 
}

#newsletter {
  background: #eff0ed; 
}

.page .newsletter-mc {
  margin-bottom: 4rem;
  padding: 3.3977rem 1.2771em;
}

.newsletter-mc .row {
  max-width: 660px !important;
  margin: 0 auto !important;
  padding: 0;
  width: 92%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: visible;
}
@media only screen and (max-width: 479px) {
  .newsletter-mc {
    padding-left: 0;
    padding-right: 0;
  }
  .newsletter-mc .row {
    width: 100%;
    min-width: 260px;
  }
}

.newsletter-mc .column {
  float: none;
  -webkit-box-flex: 1;-webkit-flex: 1 0 auto;-moz-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;
  width: auto;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-mc .column:last-child {
  -webkit-box-flex: 0;-webkit-flex: 0 1 auto;-moz-box-flex: 0;-ms-flex: 0 1 auto;flex: 0 1 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
}

.newsletter-mc .column input {
  width: 100%;
  min-width: 280px;
}

@media only screen and (max-width: 479px) {
  .newsletter-mc .column input {
    min-width: 100px;
  }
}

.newsletter-mc .button {
  margin: 0;
  color: #050d1a;
  background: #fcc201 url(elements/sk-arrow.svg) 22px center no-repeat;
  padding-left: 40px !important;
}

.newsletter-mc .button:hover,
.newsletter-mc .button:focus {
  background-position: 18px center;
  -webkit-transform: scale(1.03);-moz-transform: scale(1.03);-ms-transform: scale(1.03);transform: scale(1.03);
}
@media only screen and (max-width: 479px) {
  .newsletter-mc .button {
  font-size: .98rem!important;
  }
}


.newsletter-mc #mc-embedded-subscribe-form {
  /*max-width: 300px;*/
  margin: 0 auto 2rem auto;
}
.newsletter-mc #mc-embedded-subscribe-form input {
  width: 100%;
  text-align: center;
}  

.newsletter-mc .content h1 {
  max-width: 16em;
  margin: 0 auto 0.8em;
  font-family: 'Milo Serif';
  letter-spacing: -0.01px;
  font-size: 2.0831rem;
  text-align: center;
  line-height: 1.2;
}

.newsletter-mc .content p {
  max-width: 32em;
  margin: 0 auto 1.631em;
  font-family: 'Milo Slab';
  font-size: 1rem;
  text-align: center;
}

.newsletter-mc .smaller-text {
  max-width: 40em;
  margin: 0 auto;
  font-family: 'Milo Serif';
  color: #383f42;
  font-size: 0.783rem;
  line-height: 1.631;
  text-align: center;
}