/*
/*  S E A R C H R E S U L T S
/*
______________________________________________________________*/


/* Layout */
.search .grve-main-content,
.tag .grve-main-content {
  max-width: 767px;
  margin: 0 auto;
}


/* H1 */
.search h1,
.tag h1 {
  font-size: 1.631rem !important;
  border-bottom: 1px solid #d7dbd7;
  padding: 0 0 0.48rem;
  margin: 3.3977rem 0 1em !important;
}

.search h1 .search-terms,
.tag h1 .tags {
  font-family: 'Milo Slab';
  font-weight: normal;
  font-size: 1.2771em;
}

/* Teaser-List */

/* Layout A - mehr wie Home */

/* layout */
.search .sk-teaser,
.tag .sk-teaser {
  -webkit-box-flex: 1;-webkit-flex: 1 1 50%;-moz-box-flex: 1;-ms-flex: 1 1 50%;flex: 1 1 50%;
  min-width: 300px;
}

/* styling */

/* bild */
.search .sk-teaser .grve-media,
.tag .sk-teaser .grve-media {
  margin: 0 0 1rem;
}
@media only screen and (max-width: 767px) {
  .search .sk-teaser .grve-media,
  .tag .sk-teaser .grve-media {
    margin: 0 0 0.783rem;
  }
}

/* text */

.search .sk-teaser p,
.tag .sk-teaser p {
  margin: 0.48rem 0 0.6131rem;
}
@media only screen and (max-width: 767px) {
  .search .sk-teaser p,
  .tag .sk-teaser p {
    margin: 0.48rem 0 0.783rem;
  }
}

/* Layout B - mehr wie Suchergebnisse */

/* layout
.search .sk-teaser {
  flex: 1 1 100%;
}

/* bild
.search .sk-teaser .grve-media {
  display: none;
}