/*
/*  S E A R C H B A R
/*
______________________________________________________________*/

#searchbar {
  background: #eff0ed;
  width: 100%;
  margin-top: -1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}

@media only screen and (max-width: 767px) {
  #searchbar {
    position: absolute;
    z-index: 10;
    top: 350px;
    left: 0;
    right: 0;
  }
}

.searchvisible #searchbar,
.error404 .grve-main-content #searchbar {
  opacity: 1;
  -webkit-transform: translateY(1px);-moz-transform: translateY(1px);-ms-transform: translateY(1px);transform: translateY(1px);
  height: 146px;
  padding: 47px 0 0;
}

/* searchbar in den search results nur auf desktop anzeigen */
@media only screen and (min-width: 768px) {
  .search #searchbar {
    opacity: 1;
    -webkit-transform: translateY(1px);-moz-transform: translateY(1px);-ms-transform: translateY(1px);transform: translateY(1px);
    height: 146px;
    padding: 47px 0 0;
  }
}

#searchbar #searchform {
  position: relative;
  max-width: 767px;
  width: 92%;
  margin: auto;
}



#s {
  min-width: 100%;
}

/* unsichtbarer submit button im textfeld */
#searchsubmit {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 !important;
  width: 47px;
  height: 47px;
  border: none;
  background: transparent;
  box-shadow: none !important;
  font-size: 0 !important;
}

/* lupen icon */
#searchbar #searchform:after {
  content: '\f002';
  background: #fff;
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 47px;
  height: 43px;
  font-family: 'FontAwesome';
  font-size: 18px;
  line-height: 47px;
  text-align: center;
  color: #383f42;
}