/*
/*  P O S T   S I N G L E
/*
______________________________________________________________*/

/* Bild */
#jt-postthumb {
  width: 92%;
  max-width: 767px;
  margin: 4.3394rem auto 0;
}

/* Main Wrapper */
body.single-post .grve-main-content {
  max-width: 967px; /* for author portrait */
  margin: 4.3394rem auto;
}

@media only screen and (max-width: 767px) {
  #jt-postthumb,
  body.single-post .grve-main-content {
    margin-top: 2.66rem;
  }
}

/* column width, reset padding */
.single-post .grve-main-content h1,
.single-post .grve-main-content h2,
.single-post .grve-main-content h3,
.single-post .grve-main-content h4,
.single-post .grve-main-content h5,
.single-post .grve-main-content h6,
.single-post .grve-main-content p,
.single-post .grve-main-content blockquote,
.single-post .grve-main-content .wp-caption,
.single-post .footnotes,
.single-post .grve-author-info,
.single-post .sk-tags,
.single-post .sk-copyrights {
  max-width: 660px;
  margin: 0 auto !important;
  padding: 0;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.single-post .grve-main-content .grve-about-author .grve-author-info {
  min-height: 0 !important;
  padding: 0 !important;
}

/* Progressbar */
.sk-progressbar {
  position: fixed;
  z-index: 90000;
  background: #fcc201;
  height: 10px;
  left: 0;
  top: 0;
  width: 100vw; /* js */
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform linear 0.1s;
}

@media only screen and (min-width: 600px) {
  .sk-progressbar.sk-progressbar--admin-bar {
    top: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .sk-progressbar {
    top: 130px;
  }
  .sk-progressbar.sk-progressbar--admin-bar {
    top: 162px;
  }
}

/* Kopfzeile – Autorenname */
.grve-author-info {
  max-width: 660px;
  padding-bottom: 1rem !important;
  font-size: 0.783em;
  min-height: 0;
  line-height: 1.2771;
}

.grve-container.sk-about-author-top {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .grve-author-info {
    padding-bottom: 0.783em !important;
  }
}

/* Titel */
body.single-post .grve-main-content h1 {
  max-width: 660px;
  padding-bottom: 0.48em;
  font-size: 2.66em !important;
  line-height: 1;
  -webkit-transform: translateX(-3px);
     -moz-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
}

@media only screen and (max-width: 767px) {
  body.single-post .grve-main-content h1 {
    font-size: 2.0831em !important;
    -webkit-transform: translateX(-2px);
       -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

/* Lesedauer */
.single-post #grve-wrapper p.sk-lesedauer {
  padding: 0 0 0.783em;
  font-family: 'Milo Sans Bold', 'Helvetica', sans-serif;
  font-size: 0.783rem;
}

/* Alle Absätze */
.single-post .grve-main-content p {
  padding-top: 0.783em;
}

/* Bilder */
.single .grve-post-content img {
  margin: 1.631rem auto;
  width: auto;
  height: auto;
  max-width: 100%;
}
.single .grve-post-content img.lazy-hidden {
  min-height: 100px;
}

/* Video */
.single-post .grve-main-content .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
}
.single-post .grve-main-content .video-container iframe,
.single-post .grve-main-content .video-container object,
.single-post .grve-main-content .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Intro */
.single-post .grve-main-content p.intro {
  padding: 0 0 1.2771em;
  font-family: 'Milo Slab';
  /* JT 180125
  font-size: 1.2771rem;
  */
  font-size: 0.783rem;
  color: #383f42;
}

/* Tweet */
.twitter-tweet {
	margin: 10px auto;
}

/* Zitat */
.single-post .grve-main-content p.zitat,
.single-post .grve-main-content blockquote {
  /* reset browser styles */
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;

  /*font-family: 'Milo Sans Bold', 'Helvetica', sans-serif;*/
  font-style: italic;
  color: #383f42;
  letter-spacing:  -0.1px;
  padding: 0 0 0 2.66em;
  margin: 2.0831em auto 1.631em !important;
  border-left: 2px solid #fcc201;
  -webkit-transform: translateX(-1px);
     -moz-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
}
.single-post .grve-main-content blockquote:before {
  content: none;
}
.single-post .grve-main-content blockquote p:first-child {
  padding-top: 0;
}


@media only screen and (max-width: 479px) {
  .single-post .grve-main-content p.zitat {
    margin: 1.631em auto 1em !important;
    padding-left: 1.2771em;
  }
}

/* Fix: Copyright doppelt */
.copyright:before {
  content: none !important;
}


/* Motto */
.single-post .grve-main-content .motto {
  display: block;
  margin: 2.0831em auto !important;
  padding: 1rem 0 !important;
  font-size: 0.783rem !important;
  line-height: 2.0831em;
  text-align: center;
  color: #383f42;
  border-bottom: 1px solid #fcc201;
  border-top: 1px solid #fcc201;
}


/* .bildnachweis - enthält auch andere nachweise! */
.single-post .grve-main-content p.bildnachweis {
  color: #383f42;
  font-size: 0.783rem;
  font-style: italic;
  padding-top: 1.631em !important;
}

/* Author-Portrait */
body.single .grve-about-author {
  position: relative;
  z-index: 50;
  text-align: center;
  width: 30%;
  min-width: 9.0395rem;
  max-width: 14.739rem;
  float: right;
  margin: 0;
  padding: 1.2771rem;
  border: none;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.single .wrap-author .grve-about-author .grve-author-info {
  margin-bottom: 1.2771rem!important;
}

@media only screen and (max-width: 479px) {
  body.single .grve-about-author {
    width: 100%;
    max-width: 100%;
    float: none;
    padding: 1.613rem 0 0.783rem;
  }
}

body.single .grve-about-author .sk-author-image {
  width: 7.0779rem;
  height: 7.0779rem;
  margin: 0 auto 1rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #eff0ed;
}

body.single .grve-about-author .sk-author-image img {
  margin: 0;
  opacity: 0.9;
  mix-blend-mode: multiply;
  width: 100%;
  max-height: unset;
  height: auto;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

body.single .grve-about-author .sk-author-title {
  font-size: 1rem !important;
  padding: 0;
  margin: 0;
}

body.single .grve-about-author a {
  display: inline-block;
  margin: 0.48em auto;
  font-family: 'Milo Sans Bold', sans-serif;
  font-size: 0.783rem;
  text-transform: none;
  letter-spacing: -0.01em;
  border-bottom-color: transparent;
  color: #383f42;
}

body.single .grve-about-author a:before {
  display: inline-block;
  opacity: 0.8;
  content: '';
  width: 0.783em;
  height: 0.783em;
  background: url(elements/sk-arrow.svg) center center no-repeat;
  margin-right: 0.2304em;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}

.no-touch body.single .grve-about-author a:hover,
.no-touch body.single .grve-about-author a:focus {
  color: #050d1a;
  border-bottom-color: #ffea9e;
}

.no-touch body.single .grve-about-author a:hover:before,
.no-touch body.single .grve-about-author a:focus:before {
  opacity: 1;
}


/* Schlagworte */
.grve-main-content .sk-tags {
  margin-top: 3.3977rem !important;
  padding-top: 2.0831rem !important;
  border-top: 1px solid #d7dbd7;
}

.sk-tags ul,
.sk-tags li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sk-tags h3,
.sk-tags a {
  display: inline-block;
  font-size: 0.783rem !important;
  line-height: 1;
}

.grve-main-content .sk-tags h3 {
  margin: 0 0.783em 1em 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 479px) {
  .sk-tags h3 {
    width: 100%;
  }
}

.grve-main-content .sk-tags a {
  font-family: 'Milo Slab';
  margin: 0 0.6131em 1em 0 !important;
  padding: 0.7em 0.783em 0.5262em;
  border: 1px solid #d7dbd7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #383f42;
}

.sk-tags a:hover,
.sk-tags a:focus {
  border-color: #83898a;
  color: #050d1a;
}


/* Bildrechte */
.single-post div.sk-copyrights {
  margin-top: 1rem !important;
}


.sk-copyrights .btn-visibility-copyrights {
  color: #383f42;
  font-size: 0.783rem;
  font-style: italic;
  padding-top: 1.631em !important;
  border: none !important;
}

.sk-copyrights .btn-visibility-copyrights:before {
  display: inline-block;
  content: '';
  width: 0.783em;
  height: 0.783em;
  background: url(elements/sk-arrow.svg) center center no-repeat;
  -webkit-background-size: 61.31% 61.31%;
     -moz-background-size: 61.31%;
          background-size: 61.31%;
  margin-right: 0.2304em;
}

.sk-copyrights .btn-visibility-copyrights:hover,
.sk-copyrights .btn-visibility-copyrights:focus {
  color: #050d1a;
}

.sk-copyrights .list-image-with-text {
  display: none;
}

.sk-copyrights .list-image-with-text.in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -0.24em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 0.783rem;
}

.sk-copyrights .list-image-with-text li {
  -webkit-box-flex: 1;
  -webkit-flex: 0 0 100px;
     -moz-box-flex: 1;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0.24em;
  width: 100px;
  border: 1px solid #eff0ed;
}

.sk-copyrights figure {
  width: 100px;
  height: 100px;
  padding: 0.48em;
}

.sk-copyrights figure img {
  margin-left: 50%;
  margin-top: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.sk-copyrights figcaption {
  padding: 0 0.48em 0.48em;
  font-size: 0.613rem;
  letter-spacing: 0.01em;
  line-height: 1;
  font-style: italic;
  text-align: center;
}



/* Post-Nav */
.grve-article-nav {
  display: none;
}

@media only screen and (min-width: 480px) {
  .no-touch .grve-article-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    height: 60px;
    margin-top: -30px;
    padding: 0;
    border: none !important;
  }
}
.grve-article-nav.grve-prev-article {
  margin-left: -290px;
  padding-right: 20px;
}
.grve-article-nav.grve-next-article {
  margin-right: -290px;
  padding-left: 20px;
}
.grve-article-nav:hover,
.grve-article-nav:focus {
  border: none !important;
}

.grve-article-nav img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  margin: 0;
}
.grve-article-nav.grve-next-article img {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.grve-article-nav .grve-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 1em;
  font-size: 0.783rem;
  font-style: italic;
  line-height: 1;
  max-width: unset;
}


/* SHARING */

/* theme overrides -
wäre sauberer, das im template zu machen, grad keine zeit  */
.sk-post-meta-bar-upper,
.sk-post-meta-bar-lower {
  width: 100%;
  max-width: 660px;
  margin: auto;
}


.sk-post-meta-bar-upper .grve-row,
.sk-post-meta-bar-lower .grve-row {
  margin: 0;
  padding: 0;
}

.sk-post-meta-bar-upper .grve-row .grve-column-1-2,
.sk-post-meta-bar-lower .grve-row .grve-column-1-2 {
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sk-post-meta-bar-upper .grve-row .grve-column-1-2:first-child,
.sk-post-meta-bar-lower .grve-row .grve-column-1-2:first-child {
  display: none; /* hide tags column */
}


/* mobile */
.sk-post-meta-bar-upper .grve-row .grve-social,
.sk-post-meta-bar-lower .grve-row .grve-social {
  text-align: left;
  margin: 1.2771rem 0 1.2771rem -0.6131rem;
}

.sk-post-meta-bar-upper .grve-row .grve-social {
  margin-top: 0;
}
.grve-social {
  background: #fff;
}
.grve-social li {
  text-align: center;
  vertical-align: middle
}

/* hide google plus */
/*.grve-social li:last-child {
  display: none;
}*/

.grve-social li a {
  display: inline;
  margin: 0;
  font-size: 1rem;
  color: #83898a;
  border: none;
}
.grve-social li a:hover,
.grve-social li a:focus {
  color: #050d1a;
  border: none;
}
.grve-social li a i {
  display: inline-block;
  font-size: inherit;
  padding: 0.6131rem;
}

/* desktop */
@media only screen and (min-width: 1200px) {

  /* hide lower */
  .sk-post-meta-bar-lower {
    display: none;
  }

  .sk-post-meta-bar-upper {
    position: fixed;
    top: 50%;
    z-index: 10;
    width: auto;
    opacity: 0;
    -webkit-transform: translateX(-20px);
       -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
  }

  .sk-post-meta-bar-upper.show {
    opacity: 1;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .grve-social li {
    display: block;
    border-bottom: 1px solid #d7dbd7;
  }

  .grve-social li:nth-child(2) {
    border-bottom: none;
  }

  .grve-social li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1px 0 0;
    width: 2.66rem;
    height: 2.66rem;
    color: #383f42;
    border: none;
  }



  .grve-social li a:hover,
  .grve-social li a:focus {
    color: #fcc201;
  }


}

@media only screen and (max-width: 1199px) {

  .sk-post-meta-bar-upper {
    display: none;
  }

}


/* Verwandte Beiträge */

/* theme override */
.isotope-hidden {
  display: none;
}


/* header */
.grve-related-post {
  margin: 3.3977rem auto !important;
}

.grve-related-post .grve-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 0 0.48rem;
  border-top: none;
  border-bottom: 2px solid #fcc201 !important;
}

.grve-related-post .grve-filter h5 {
  position: static;
  margin: 0 auto 0 0;
  font-size: 1rem;
  text-align: left;
  color: #383f42;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.grve-related-post .grve-filter ul {
  margin: 0 0 0 auto;

}

.grve-related-post .grve-filter li {
  display: inline-block !important;
  font-family: 'Milo Sans Bold';
  font-size: 0.78rem;
  color: #383f42;
  letter-spacing: -0.1px;
  opacity: .6;
}

.grve-related-post .grve-filter li:hover {
  color: #050d1a;
  opacity: 1;
}


.grve-related-post .grve-filter li.selected {
  opacity: 1;
}

/* posts */
.single #grve-related-posts-container {
  max-height: 240px !important;
}
@media screen and (max-width: 767px) {
  .single #grve-related-posts-container {
    max-height: 720px !important;
  }
}

.grve-blog-label .grve-post-wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 0;
  opacity: 0.8;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}
.grve-blog-label .grve-post-wraper:hover,
.grve-blog-label .grve-post-wraper:focus {
  border: none;
  opacity: 1;
}

.grve-blog-label .sk-author-image {
  position: relative;
}

.grve-blog-label .sk-author-image,
.grve-blog-label .sk-author-image img {
  width: 2.66rem;
  min-width: 2.66rem;
  height: 2.66rem;
  min-height: 2.66rem;
}

.grve-blog-label .grve-post-content {
  height: auto;
  margin-left: 0.48rem;
  overflow: visible;
  border: none;
  padding: 0;
}

.grve-blog-label .grve-post-title {
  -o-text-overflow: visible;
     text-overflow: visible;
  overflow: visible;
  white-space: normal;
  margin: 0 0 0.2943em;
  font-family: 'Milo Sans Bold';
  font-size: 0.78rem;
  letter-spacing: -0.1px;
}

.grve-blog-label .grve-post-date {
  opacity: 1;
  margin: 0;
  font-family: 'Milo Slab';
  color: #383f42;
  font-size: 0.6131rem;
  letter-spacing: 0.03em;
}


/* fußnoten */
/*.single-post .grve-main-content sup {
  display: inline-block;
  vertical-align: super;
  vertical-align: baseline;
}*/

.single-post .grve-main-content sup a {
  position: relative;
  bottom: 0.2em;
  display: inline-block;
  padding: 0 0.2943em 0em;
  border: none;
  margin: 0 0.2943em;

  /* `sans-serif` ist die einzige Möglichkeit,
  Proportionalziffern loszuwerden.*/
  font-family: sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.631;
}

.single-post .grve-main-content sup a:before {
  content: '';

  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;

  height: 1.5em;
  width: 100%;
  background: #ffea9e;
}

.no-touch .single-post .grve-main-content sup a:hover,
.no-touch .single-post .grve-main-content sup a:focus {
  border: none;
}
.no-touch .single-post .grve-main-content sup a:hover:before,
.no-touch .single-post .grve-main-content sup a:focus:before {
  background: #fcc201;
}


/* offset for sticky header */
@media only screen and (min-width: 1200px) {
  .single-post .grve-main-content sup a {
    margin-top: -200px;
    padding-top: 200px;
    background-position: 0 200px;
  }
}

.single-post .footnotes {
  margin-top: 3.3977rem !important;
  padding-top: 2.0831rem !important;
  border-top: 2px solid transparent;
  font-size: 0.783rem;
  -webkit-border-image: -webkit-linear-gradient(left, rgba(252,194,1,1) 24.999%,rgba(252,194,1,0) 25%) 1;
     -moz-border-image: -moz-linear-gradient(left, rgba(252,194,1,1) 24.999%,rgba(252,194,1,0) 25%) 1;
          -o-border-image: -o-linear-gradient(left, rgba(252,194,1,1) 24.999%,rgba(252,194,1,0) 25%) 1;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(24.999%, rgba(252,194,1,1)),color-stop(25%, rgba(252,194,1,0))) 1;
     border-image: linear-gradient(to right, rgba(252,194,1,1) 24.999%,rgba(252,194,1,0) 25%) 1;
}

.single-post .footnotes .footnote {
  display: table;
  width: 100%;
}
.single-post .footnotes .footnote--index {
  display: table-cell;
  width: 2.66em;
  font-family: 'Milo Sans Bold';
  font-size: 1.2771em;
  border: none;
}

.single-post .footnotes .footnote--index span {
  display: block;
}

.single-post .footnotes .footnote--backlink {
  position: relative;
  z-index: 1;
  display: inline;
  padding-left: 1em;
  font-family: 'Milo Sans Bold';
  border: none;
  opacity: 0.7;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.no-touch .single-post .footnotes .footnote--backlink:hover,
.no-touch .single-post .footnotes .footnote--backlink:focus {
  opacity: 1;
}

.single-post .footnotes .footnote--backlink:before {
  content: none;
  background: none;
  display: inline-block;
}

.single-post .footnotes .footnote--backlink:after {
  content: '';
  position: absolute;
  top: 0.23em;
  left: 0px;
  display: block;
  width: 0.783em;
  height: 0.783em;
  background: url(elements/sk-arrow.svg) center center no-repeat;
  -webkit-transform: rotateZ(270deg);
     -moz-transform: rotateZ(270deg);
      -ms-transform: rotate(270deg);
          transform: rotateZ(270deg);
}

/* offset for sticky header */
@media only screen and (min-width: 1200px) {
  .single-post .footnotes .footnote {
    margin-top: -200px !important;
  }
  .single-post .footnotes .footnote--index span {
    padding: 200px 0 0;
  }
}

