/*
/*  S K - T E A S E R - L I S T
/*
______________________________________________________________*/

/* GLOBAL */

/* Layout */

.sk-teaser-list {
  text-align: left;
  /*display: -webkit-box;*/
  display: -webkit-flex;
  /*display: -moz-box;*/
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 1.631rem -1.33rem;
}

.sk-teaser {
  padding: 1.33rem;
}
/* JT180125 */
@media only screen and (max-height: 780px) {
  .sk-teaser {
    padding: .65rem 1.33rem .65rem 1.33rem;
  }
}

.sk-teaser h2 {
  font-size: 1.2771rem;
  margin-bottom: 1em;
}  

@media only screen and (max-width: 767px) {
  .sk-teaser-list {
    margin: 1rem -0.6131rem;
  }
  .sk-teaser {
    padding: 0.63855rem;
  }
}

@media only screen and (max-width: 480px) {
  .sk-teaser-list {
    display: block;
  }
}

.sk-teaser-filler {
  display: none;
    height: 1px;
  /* jt 180125 */
  width: 1px;
}

.sk-teaser-filler:nth-last-child(1),
.sk-teaser-filler:nth-last-child(2),
.sk-teaser-filler:nth-last-child(3) {
  display: block;
  visibility: hidden;
  padding: 0;

}

/* Theme Overrides */

.sk-teaser-list .grve-post-content {
  padding: 0;
}

.sk-teaser-list .grve-post-content {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
       box-shadow: none;
  line-height: 1.2771em;
}


/* Styling / Hovers */

.sk-teaser:hover,
.sk-teaser:focus {
  cursor: pointer;
}

/* bild */
.sk-teaser .grve-media {
  /* aspect ratio */
  width: 100%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

/* headine */
.sk-teaser .grve-post-content a {
  max-width: 30em;
  border-bottom: transparent;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
}
.sk-teaser:hover .grve-post-content a h2,
.sk-teaser:focus .grve-post-content a h2 {
  border-bottom: 1px solid #fcc201;
}

.sk-teaser .grve-post-content h2 {
  display: inline;
}

/* text */
.sk-teaser p {
  max-width: 30em;
  font-family: 'Milo Slab';
  color: #383f42;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
}
.sk-teaser:hover p {
  color: #050d1a;
}

/* autor */
.sk-teaser .grve-post-author {
  color: #383f42;
}


/* pagination / spinner */
.grve-pagination.infinite {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1.631rem auto 5.542rem;
}


.grve-pagination.infinite:before {
  content: '\f021';
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'FontAwesome';
  font-size: 36px;
  line-height: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spinner 1s 0s infinite;
     -moz-animation: spinner 1s 0s infinite;
          animation: spinner 1s 0s infinite;
  color: #fcc201;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@-moz-keyframes spinner {
  from { -moz-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  to { -moz-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes spinner {
  from { -webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}


.grve-pagination.infinite .page-numbers {
  display: none;
}