/*
/*  T H E M E   O V E R R I D E S
/*/

/* Containter Widths */
.grve-container,
.grve-responsive #grve-header.grve-style-2 .grve-container,
.grve-related-post {
  max-width: 1170px !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 1224px) {
  .grve-container,
  .grve-responsive #grve-header.grve-style-2 .grve-container,
  .grve-related-post  {
    max-width: 1024px !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 1199px) {
  .grve-container,
  .grve-responsive #grve-header.grve-style-2 .grve-container,
  .grve-related-post  {
    max-width: 900px !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 959px) {
  .grve-container,
  .grve-responsive #grve-header.grve-style-2 .grve-container,
  .grve-related-post  {
    max-width: 720px !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .grve-container,
  .grve-responsive #grve-header.grve-style-2 .grve-container,
  .grve-related-post  {
    width: 92% !important;
    margin: 0 auto !important;
  }
}


/* Main Wrapper */

#grve-wrapper {
  /* no shadow */
  -webkit-box-shadow: none;
          -moz-box-shadow: none;
       box-shadow: none;

  /* keep footer at bottom */
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}

.grve-section {
  margin: 0 auto;
  padding: 0;
}


/* Form Elements */

.input-text,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea,
select {
  padding: 13px 18px;
  height: 47px;
  font-family: 'Milo Slab';
  color: #050d1a;
  font-size: 1rem;
  border: 1px solid #d7dbd7;
  background: #fff;
  -webkit-border-radius: 2px !important;
     -moz-border-radius: 2px !important;
          border-radius: 2px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
       box-shadow: none !important;
}

input[type="submit"],
.grve-btn {
  margin-left: 2px;
  padding: 16px 25px 15px !important;
  height: 47px;
  font-family: 'Milo Sans Bold';
  text-transform: none;
  letter-spacing: -0.1px;
  font-size: 1rem !important;
  background: #fcc201;
  color: #383f42;
  border: none;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

/* Fixed Elements (Page Nav, Top Button) */

@media only screen and (max-width: 479px) {
  .grve-responsive .grve-top-btn.active {
    display: none;
  }

  .grve-article-nav {
    display: none;
  }
}

/* Post Thumbnail  */
img.wp-post-image {
  width: 100%;
}

/* teaser-list / isotope placeholders */
.sk-teaser .grve-media img,
.grve-isotope-item .sk-author-image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  font-size: 0.6131rem;
  font-weight: normal;
  font-style: italic;
  color: #383f42;
  background: #eff0ed;
}

/* cookie law plugin */
#grve-body .pea_cook_wrapper.pea_cook_bottomcenter {
    bottom: 10px;
    left: 10px;
    margin: 0 10%;
}
#grve-body .pea_cook_wrapper p {
  position: static;
  line-height: 1.4;
  font-size: 13px;
  font-weight: normal;
}
#grve-body button.pea_cook_btn {
    border: none!important;
    border-radius: 5px;
    box-shadow: none;
    color: #333;
    font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
        line-height: normal;
    line-height: 1;
    padding: 5px 0;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 100px;
    margin-left: 20px;
    margin-top: 4px;
}