/*
/*  G L O B A L   T Y P O G R A P H Y
/*/

html,body {
  font-size: 20px;
  color: #050D1A;
  font-family: 'Milo Serif', 'Georgia', serif;
  font-weight: normal;
  line-height: 1.631;
  /*
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  */        
}

@media only screen and (max-width: 479px) {
  html,body {
    font-size: 18px;
  }
}

p, blockquote {
  line-height: inherit;
  margin-bottom: 0.783em;
}

a {
  color: #050D1A;
  border-bottom: 1px solid #83898a;
}
.no-touch a:hover, .no-touch a:focus {
  border-bottom: 1px solid #fcc201;
}


h1, h2, h3, h4, h5, h6,
.grve-horizontal-menu,
#grve-footer a {
  font-family: 'Milo Sans Bold', 'Helvetica', sans-serif;
  letter-spacing: -0.1px;
  font-weight: bold;
}

h1 {
  margin-bottom: 0.783em;
  font-size: 2.0831rem;
  line-height: 1.631;
  -webkit-transform: translateX(-2px);
     -moz-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
          transform: translateX(-2px);
}

h2 {
  font-size: 2.083rem;
  margin: 1em 0 0.48em 0;
}
h3 {
  font-size: 1.631rem !important;
}
h4 {
  margin-top: 1.2771;
  font-size: 1.2771rem !important;
}


.small {
  font-size: 0.783em;
}

.wp-caption-text {
  margin: 0.783em auto 1.2771em auto !important;
  font-size: 0.783rem !important;
  text-align: left;
}

.grve-author-info,
.sk-author-title,
.grve-post-author {
  display: block !important;
  font-family: 'Milo Serif', serif;
  font-size: 0.783rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}