
/* Smartphones (landscape) ----------- */
@media screen and (max-width: 767px) {

 .grve-responsive #grve-header  h1.grve-logo{
		height: 80px;
		line-height: normal !important;
		width: 50% !important;
	}

}